/*  CSS styles */

p{
    padding: 60px;
    text-align: center;
    background: #1abc9c;
    color: white;
    font-size: 30px;   
}

.title{
    display: inline-block;
    font-size: medium;
    color: black;
    padding: 0.8em 0.7em 0 0.7em;
    line-height: 1em;
    position: relative;
    left: 0 px;
    top: -10px;
    height: 1.8em;
    margin-right: .8em;
    border-radius: 4px 0 0 4px;
}


 li {
    cursor: pointer;
    position: relative;
    left: 0;
    background-color: #EEE;
    list-style-type: none;
    margin: .5em;
    padding: .3em 0;
    height: 1.6em;
    border-radius: 4px;
  }
li:hover {
    color: #607D8B;
    background-color: #DDD;
    left: .1em;
  }
li.selected {
    background-color: #CFD8DC;
    color: white;
  }
li.selected:hover {
    background-color: #BBD8DC;
    color: white;
  }
.badge {
    display: inline-block;
    font-size: small;
    color: white;
    padding: 0.8em 0.7em 0 0.7em;
    background-color:#405061;
    line-height: 1em;
    position: relative;
    left: -1px;
    top: -4px;
    height: 1.8em;
    margin-right: .8em;
    border-radius: 4px 0 0 4px;
  }